body {
    margin: 0;
    padding: 0;
    font-family: "SF UI Text", serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header p{
    margin: 15px 0 0 30px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header img {
    width: 80%;
    margin: 2%;
}

.displayNone {
    display: none;
}

.text-center {
    text-align: center;
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    color: white;
    z-index: 1000;
}

.inline{
    display: inline;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exit{
    color: white;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.menu-items li {
    margin-bottom: 10px;
}

.menu-items a {
    text-decoration: none;
    color: white;
}

.homepage {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    height: 100vh;
}

.fullscreen-image {
    width: 100%;
    height: 100%;
    background-image: url('img/hp.png');
    background-size: cover;
    background-position: center;
}

.overlay1 {
    position: relative;
    top: 30%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    background-color: #1C2936;
}

.overlay1 h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.overlay1 h2 span:not(.subtitle){
    color: #9BB5C0;
    font-size: 1.2rem;
}

.overlay1 h2 span.subtitle {
    color: white;
    font-size: 1.3rem;
}

.overlay2 {
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30%;
    left: 50%;
    width: 20%;
    height: 5%;
    transform: translate(-50%, -50%);
    padding:10px;
    margin: 2%;
    background-color: white;
    opacity: 40%;
    font-size: 1rem;
    font-weight: bold;
}

.overlay2_hidden {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    grid-gap: 8%;
    margin: 0 10% 0 10%;
}

.grid-container a {
    background-color: white;
    opacity: 40%;
    font-size: 1rem;
    font-weight: bold;
    margin: 1% 0 1% 0;
    height: 70%;
    width: 30%;
}

.col-4{
    grid-column: span 4;
}

.col-2 {
    grid-column: span 2;
}

.col-1 {
    grid-column: span 1;
}

.francesca{
    height: 200px;
}

.aboutMe_overlay {
    background-color: #1C2936;
    color: white;
    margin-top: 10%;
}

.aboutMe_overlay div p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5% 0 0 0;
}


.aboutMe_overlay div{
    margin: 0 3% 0 5%;
}

.aboutMe_overlay div h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: #9BB5C0;
}

.aboutMe_overlay2 {
    background-color: #1C2936;
    color: white;
}

.aboutMe_overlay2 h3 {
    font-size: 1.2rem;
    font-weight: bold;
   margin: 10% 0 5% 0;
}

.aboutMe_overlay2 p {
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 6% 10% 6% 10%;
    line-height: 2;
}

.icons{
    max-height: 50px;
    max-width: 50px;
    margin-bottom: 5%;
}

.contact-form {
    height: 100vh;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}